doctype html
html
  head
    title= poet.name
    link(rel="stylesheet", href="/styles.css")
  body
    h1= poet.name
    img(src=poet.image, width="150")
    p Email: #{poet.email}
    p Sito: 
      a(href=poet.website)= poet.website
    p Nazionalità: #{poet.nationality}
    h2 Poesie
    each poem in poet.poems
      p= poem
